<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        {% block title %} <title>Home Page</title> {% endblock %}
    </head>

<body>
    <main>
        <p><a href="{{ url_for ('index')}}">Home</a>|
            <a href="{{ url_for ('register')}}">Register</a>|
            <a href="{{ url_for ('login')}}">Login</a>|
            <a href="{{ url_for ('dashboard')}}">Dashboard</a>|
            <a href="{{ url_for ('logout') }}">Logout</a>
        </p>
        <h1>Welcome Here {{username}} </h1>
    </main>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>&copy; 2025 Eazi Music | John P. Singbah</footer>
</body>
</html>